@import "tailwindcss";

@theme {
  --font-family-sans: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #131315;
  color: #e2e2e5;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #2f3033;
  border-radius: 3px;
}
